<!DOCTYPE html>
<html ng-app="myTaskApp">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager | Login</title>

    <!--STYLES-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100|Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

</head>
<body ng-controller="TaskController">
<header>
    <h1>Log In</h1>
    <button class="refresh" ng-click="getTasks()"><i class="fa fa-refresh fa-2x"></i><span class="hidden-xs">Refresh Tasks</span></button>
    <!--<button class="task-add" ng-click=""><span class="hidden-xs">Add Task</span><i class="fa fa-plus-circle fa-2x"></i></button>-->
</header>
<div class="container">
    <div class="user row">
        <form action="/login" method="post">
            <div>
                <label class="sr-only" for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Username"/>
            </div>
            <div>
                <label class="sr-only" for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password"/>
            </div>
            <div>
                <input class="btn btn-positive" type="submit" value="Log In"/>
            </div>
            <div>
                <a href="/signup">
                    <input class="btn btn-information" type="button" value="Create Account"/>
                </a>
            </div>
        </form>
    </div>
</div>

<!--SCRIPTS-->
<script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
<script type="text/javascript" src="/assets/scripts/project-scripts.min.js"></script>
</body>
</html>